cleanup = true

report {
       enabled = true
       file = 'reports/report.html'
       overwrite = true
}

trace {
    enabled = true
    file = 'reports/trace.txt'
    overwrite = true
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'reports/dag.dot'
    overwrite = true
}


profiles {

    singularity {
	singularity.enabled = true
	singularity.autoMounts = true
	singularity.runOptions = '--home $HOME:/home/$USER'
	singularity.cacheDir = 'singularity'
     }
	

    docker {
        docker.enabled = true
	docker.runOptions = "--entrypoint=''"
    }
}


process {
    executor='local'
    scratch=false

    withLabel: R {
        container='evolbioinfo/r-evol:v4.2.2'
        cpus=1
        memory='1G'
    }
}